html {
  font-family: 'Roboto';
}

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  color: white !important;
  font-size: 2em !important;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-bottom: 0;
  margin-top: 20px !important;
}

h3 {
  color: white;
  font-size: 1.4em !important;;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-top: 0;
}

.card {
  padding: 20px;
  margin: 30px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 100%;
  background-color: #f9f9f9;
}

.item-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  vertical-align: middle;
  margin-bottom: 20px;
}

.item-row > * {
  margin-right: 10px;
  flex: 1;
}

.json-output {
  width: 100%;
  height: 200px !important;
  margin-top: 10px;
}

.title-input {
  padding-right: 20px;
}
.descending-label {
  padding-right: 20px;
}

label {
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  color: #333;
  padding: 0;
  margin: 0;
}

.button-container {
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
}

.clip-container{
  margin-left: 10px;
}

.clip-label {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: #333;
  padding: 0;
  margin: 0;
  display:inline;
}

.copy-success {
  color: green;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  margin-left: 20px;
  display:inline;
}

/* Mobile styles */
@media only screen and (max-width: 768px) {
  .card {
    width: 95%;
    padding: 15px;
  }

  h1 {
    font-size: 2em;
  }

  h3 {
    font-size: 1em;
  }

  label {
    font-size: 15px;
  }

  .item-row {
    flex-direction: column;
    align-items: flex-start;
  }

  .button-container {
    display: flex;
    align-self:  flex-start;;
    justify-content: flex-start;
    margin-top: 20px;
  }

  .copy-success {
    color: green;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    margin: 0px 0px;
    margin-top: 5px;
    display: flex;
  }
}

